*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 30px -5px black;
}

.calculator-display{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    border-radius: 10px 10px 0 0;
}

.calculator-display h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    overflow-x: auto;
}

/* custon scrollbar */
::-webkit-scrollbar{
    height: 8px;
    width: 0;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color: lightslategray;
}
::-webkit-scrollbar-thumb:hover{
    background-color: lightseagreen;
}
/* custon scrollbar */

.calculator-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding: 10px;
}

button{
    min-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: blanchedalmond;
}

button:hover{
    filter: brightness(70%);
}

button:active{
    transform: translateY(1px);
}

.operator{
    color: white;
    background-color: palevioletred;
    font-size: 30px;
}

.clear{
    background-color: lightcoral;
    color: white;
}

.equal-sign{
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: cadetblue;
}

@media screen and (max-width: 600px){
    .calculator{
        width: 95%;
    }
}